# For .env.prod (production mode), replace DATABASE_URL with your actual DBMS credentials. Sqlmodel should support all common SQL DBMS. However, this project is built wiht MariaDB.
# Please don't forget to install and run your DBMS first before running in production mode
DATABASE_URL=mariadb+mysqldb://root:mypass@database:3306/restaurant


# For .env.dev (development mode), you may want to use SQLite in case you don't want to fire up your DBMS.
# DATABASE_URL=sqlite:///dev.sqlite3

# For .env.test (for running unit tests), using in-memory SQLite is recommended.
# DATABASE_URL=sqlite:///:memory:

# JWT secret key
SECRET_KEY=09d25e094faa6ca2556c818166b7a9563b93f7099f6f0f4caa6cf63b88e8d3e7
# Password hashing algorithm
ALGORITHM=HS256
CORS_ORIGINS=http://localhost:3000