# For .env.prod (production mode), replace DATABASE_URL with your actual DBMS credentials. Sqlmodel should support all common SQL DBMS. However, this project is built wiht MariaDB.
# Please don't forget to install and run your DBMS first before running in production mode
DATABASE_URL="mariadb+mysqldb://username:password@127.0.0.1:3306/your-database-name"


# For .env.dev (development mode), you may want to use SQLite in case you don't want to fire up your DBMS.
# DATABASE_URL=sqlite:///dev.sqlite3

# For .env.test (for running unit tests), using in-memory SQLite is recommended.
# DATABASE_URL=sqlite:///:memory: